body {
    background-color: rgb(240, 255, 255);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.text-center {
    color: rgb(132, 163, 255);
    font-family: "Fredoka", sans-serif;
}

.name {
    margin: auto;
    font-size: x-large;
    padding-bottom: 10px;
    color: rgb(112, 142, 233);
}

.choices {
    padding-top: 50px;
}
.choices button {
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 70px;
    background-color: rgb(126, 122, 207);
    cursor: pointer;
    transition: background-color 0.5s ease;
    border: 3px solid black;
}
.choices button:hover{
    background-color: rgb(112, 142, 233);
}

.container1 {
    padding-top: 30px;
}

h2.text-center {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(112, 142, 233);
}

.score {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(199, 195, 222);
    text-align: center;
    margin-top: 30px;
  }

  .scoreDisplay {
    font-family: 'Fredoka', sans-serif;
  }

  .name {
    font-family: "Playfair Display", serif;
  }

  h5.text-center {
    font-family: "Playfair Display", serif;
    color: rgb(112, 142, 233);
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #929cdb;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #7970bd;
}