body {
    background-color: rgb(240, 255, 255);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.text-center {
    color: pink;
}

.name {
    margin: auto;
    font-size: x-large;
    padding-bottom: 10px;
}

.choices {
    padding-top: 50px;
}
.choices button {
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 200px;
    background-color: rgb(41, 31, 243);
    cursor: pointer;
    transition: background-color 0.5s ease;
    border: 3px solid black;
}
.choices button:hover{
    background-color: rgb(112, 142, 233);
}

.container1 {
    padding-top: 30px;
}

h2.text-center {
    font-family: 'Courier New', Courier, monospace;
}

